canvas {
    image-rendering: optimizeSpeed;
    /* Legal fallback */
    image-rendering: -moz-crisp-edges;
    /* Firefox        */
    image-rendering: -o-crisp-edges;
    /* Safari         */
    image-rendering: optimize-contrast;
    /* CSS3 Proposed  */
    image-rendering: crisp-edges;
    /* CSS4 Proposed  */
    image-rendering: pixelated;
    /* CSS4 Proposed  */
}

html {
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: #999;

}
main{
    margin: 1em;
    width: 600px;
}
.nav{
    display: flex; height: 50px; margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.navbtn{
    margin-left: 0.75em;
    font-size: 0.8rem;
    line-height: 35px;
    height: 30px;
    border: 1px solid #eee;
    width: 60px;
    border-radius: 4px;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
}

article canvas {
    width: 800px;
    height: 300px;
    border: 1px solid #ccc;
}
pre.source {
    background: #e5eeee;
    padding: 10px 20px;
    width: 760px;
    overflow-x: auto;
    border: 1px solid #acc;
}
code {
    background: #cff;
}
.tools {
    margin-bottom: 10px;
}
.tools a {
    border: 1px solid black;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    display: inline-block;
    color: black;
    font-weight: bold;
}
.colorpick {
    cursor: pointer;
    border: solid 1px white;
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 4px;
    border-radius: 100px;
}
.brushpick {
    cursor: pointer;
    border: solid 1px white;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 4px;
    font-size: 0.8rem;
    font-weight: 900;
    text-align: center;
    padding-top: 2px;
}
.cc {
    border: solid 1px black;
    width: 60px;
    height: 60px;
}
.cc.selected{
	border: solid 1px white;
}
.selected{
	border: solid 1px #FF6666;
}
.ccContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#result{
    height: 300px; width: 300px; position: absolute; right: 0; top:0;
    background: #333;
}